<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- Suppress Apache Tomcat verbose logging -->
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.apache.tomcat.util" level="WARN"/>
    <logger name="org.apache.tomcat.util.threads" level="WARN"/>
    
    <!-- Suppress Spring filter chain verbose logging -->
    <logger name="org.springframework.web.filter" level="WARN"/>
    
    <!-- Application logging -->
    <logger name="com.shangmin.whisperrr" level="INFO"/>
    
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{correlationId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>








